/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header .header-image {
  width: 100%;
}
.header .more-info {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .header {
    text-align: center;
  }
}
.main-content {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.flex-grow {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}
.flex {
  display: flex;
}
ul {
  margin:0;
  padding: 0px;
}
li, h3 {
  list-style:none;
}
input,button{
  outline:none;
}
.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.button:hover {
  color: #3a3a3a;
}
/* Heading */
.title,
.task-add-text {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.input:focus {
  color: #333;
}

/* New Task */
.task-add-text {
  display: block;
  margin: 0 0 20px;
}
#task-add-input {
  width: 318px;
}

/* Task list */
.task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task > * {
  vertical-align: middle;
}

.task-status {
  margin: 0 10px;
}
.task-text {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.task-input {
  width: 226px
}
.button-delete .button-image {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.button-delete .button-image:hover {
  transform: rotateZ(0);
}

/* Completed */
#task-list-completed .task-text {
  text-decoration: line-through
  color: #888;
}

/* Edit Task */
.task-input {
  display:none
}

.task-editable .task-input {
  display:inline-block;
  width:224px
}

.task-editable .task-text {
  display:none;
}